<!DOCTYPE html>
<html>
<meta name="robots" content="noindex">
  
  <head>
      {% block html_head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
          {% endblock %}
      <title>{% block title %}{% endblock %} - Plataforma Yoko</title>
      {% endblock %}

      {% block javascript %}

      {% endblock %}

  </head>


<body>
  {% if testing=='1' %}
    <div class="alert alert-warning" role="alert">
      MODO DE TESTES
    </div>
    {%endif%}
  <div id="header">
  {% block header %}
  <center><img src="{{ url_for('static', filename='brasao_uniao.png')}}" width="8%" alt="" align="center"></center>
  <br><center>
  Ministério da Educação<BR>
  Universidade Federal do Cariri<BR>
  Pró-reitoria de Planejamento e Orçamento <BR>
  Coodenadoria de Informação, Monitoramento e Avaliação Institucional<BR>
  <h4>Plataforma Yoko (Módulo XXX))</h4>
  </center>
  {% endblock %}
 </div>
 <hr>
 <div id="titulo">
  {% block titulo %}
    <h5>{{titulo}}</h5>
  {% endblock %}
 </div>
 <hr>
  <div id="content">
    {% block content %}

    {% endblock %}
  </div>
  <!-- Optional JavaScript -->
  {{ bootstrap.load_js() }}
  <div id="scripts">
    {% block scripts %}
      
    {% endblock %}
  </div>

  <div id="footer">
    {% block footer %}
    <hr>
    <div class="ui divider"></div>
     <br><br><center><i class="marker icon"></i>Av. Tenente Raimundo Rocha Nº 1639, Bairro Cidade Universitária, Juazeiro do Norte - (88) 3221-9345 <br>
      <i class="linkify icon"></i> Site: www.ufca.edu.br <i class="mail icon"></i> e-mail: cimai.proplan@ufca.edu.br</center>
    <hr>
      <div class="ui divider"></div>
     <br><br><center>Plataforma Yoko (Módulo XXX) <i class="file code outline icon"></i>Versão: {{versao}} <i class="linkify icon"></i> <a href="http://www.ufca.edu.br">Pró-reitoria de Planajamento e Orçamento - PROPLAN</a>.
     <br>Coordenadoria de Avaliação, Monitoramento e avaliação institucional
     <br><i class="user icon"></i>Responsável: Prof. Rafael Perazzo
     <br><i class="phone icon"></i>Contatos: (88)3221-9566 - <i class="mail icon"></i> rafael.mota at ufca.edu.br</center>
    <div class="ui divider"></div>
    <hr>
    {% if testing=='1' %}
    <div class="alert alert-warning" role="alert">
      MODO DE TESTES
    </div>
    {%endif%}
    
    {% endblock %}
  </div>
  
</body>
</html>
